body {
  width: 100%;
  background-color: black;
  color: seashell;
  font-family: helvetica;
  font-size: 22px;
  opacity: 0.9;
}

/*header*/
.header {
  display: flex;
  flex-direction: row;
  height: 69px;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid seashell;
}

.header img {
  height: 50px;
  margin-left: 10px;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.nav span {
  display: inline-flex;
  margin: 10px;
  padding: 10px;
  text-decoration: underline;
}

/*mission*/
.mission{
  display: flex;
  height: 700px;
  width: 100%;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.mission .statement {
  width: 100%;
  background-color: black;
  text-align: center;
}





.featured img {
  height: 200px;
  width: 300px;
}
